<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Kune cositas</title>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{{ 'basic.css' | asset }}">
    </head>
    <body>
        <div class="page">
            <h1>{{ content.title }}</h1>
            <div class="menu">aquí va el menu</div>
            <div class="content">{{ content.body }}</div>
        </div>
    </body>
</html>
