/* Here the styles of cc.kune.commom (reused by other projects like gadgets and so on) */
.k-popup-top-centered {

}

.k-popup-bottom-centered { /*  z-index:100000; */

}

.k-floatleft,.k-fl {
  float: left;
}

.k-floatright,.k-fr {
  float: right;
}

.k-pointer {
  cursor: pointer;
  cursor: hand;
}

.k-opacity80 {
  kfilter: alpha(opacity =
         80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
}

.k-opacity90 {
  kfilter: alpha(opacity =
         90);
  -moz-opacity: 0.90;
  -khtml-opacity: 0.90;
  opacity: 0.90;
}

.k-opacity95 {
  kfilter: alpha(opacity =
         95);
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
}

.gwt-PopupPanelGlass {
  background-color: #f7ebe3 !important;
  kfilter: alpha(opacity =
         68) !important;
  -moz-opacity: 0.68 !important;
  -khtml-opacity: 0.68 !important;
  opacity: 0.68 !important;
}

.k-box-3shadow {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.k-box-5shadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.k-box-10shadow {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.k-bottom-5corners {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

.k-bottom-10corners {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}

.k-top-5corners {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.k-top-10corners {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}

.k-2corners {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.k-3corners {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.k-5corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.k-10corners {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.k-dialog-outerp {
  background-color: #552200;
  border-top: 4px solid #000;
  /* padding: 22px 4px 3px 4px; */
}

.k-dialog-title {
  margin: 5px;
}

.k-dialog-intro {
  color: #999999;
  margin-bottom: 5px;
}

.k-dialog-title div {
  color: #552200;
  font-size: 16px;
  font-weight: bold;
  line-height: 0.7;
  padding: 0 0 6px 0px;
}

.k-dialog-innerp {
  background-color: #FFFFFF;
  border: solid 1px #F2F2F2;
  margin: 29px 8px 0;
  padding: 8px 11px 13px;
}

.k-dialog-btn-area {
  padding: 0 15px 15px 15px;
  margin-bottom: 0 -5px 30px -5px;
}

.k-dialog-btn-area button {
  margin: 10px 5px !important;
}

.k-dialog-btn-area div { /* margin: 10px */

}

.k-dialog-btn {
  text-shadow: 1px 1px 1px #FFFFFF;
  font-weight: bold;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.k-dialog-close-btn {
  background-color: #a05a2c !important;
  color: #181817 !important;
  border: 0 none !important;
  position: relative;
  height: 17px !important;
}

.k-dialog-close-btn-dialog {
  top: -26px;
  left: 1px;
}

.k-dialog-close-btn-normal {
  top: 10px;
  left: 0px;
}

.k-dialog-firstBtn {
  float: left;
}

.k-dialog-secondBtn {
  float: right;
}

.k-z100000 {
  z-index: 100000;
}

.k-z10000 {
  z-index: 10000;
}

.k-z1000 {
  z-index: 1000;
}

.oc-user-msg {
  background-color: #FFCC00;
  padding: 3px;
}

.oc-user-msg-popup {
  padding: 0px;
  border: 0px;
}

.oc-floatleft {
  float: left;
}

.oc-floatright {
  float: right;
}

.oc-clean,.k-clear,.oc-clear,.k-clean {
  clear: both;
}

.x-toolbar {
  background: none !important;
  border-color: transparent !important;
}

.oc-testico {
  background-image: url(images/ico.png) !important;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background-attachment: scroll;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 16px;
  widows: 16px;
}

.oc-tb-spacer {
  margin: 2px;
  width: 2px;
}

.oc-tb-bottom-line {
  border-bottom-color: rgb(208, 208, 208);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.oc-blank-toolbar {
  background: #FFF none repeat scroll 0% 50%;
}

.oc-tb-sep {
  padding-top: 4px;
  padding-left: 5px;
}

.oc-transp .x-panel-body {
  background: transparent;
}

.oc-menu {
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1 px solid #BBBBBB;
  font: 16px 'Ubuntu', arial;
  /* font-weight: bold; */
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  background-color: #280b0b;
}

.gwt-PopupPanel .oc-menu {
  border: 2px solid #552200;
  background-color: #280b0b;
}

.oc-menu .gwt-MenuBar-vertical,.gwt-MenuBar-vertical {
  background-color: #ffe6d5;
  border: 1px solid #552200;
  border-top: 2px solid #552200;
  padding: 3px;
  font: 16px 'Ubuntu', arial;
  color: #333333;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  kfilter: alpha(opacity =                                           90);
  -moz-opacity: 0.90;
  -khtml-opacity: 0.90;
  opacity: 0.90;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #c87137 !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 4px 4px 3px !important;
}

.gwt-MenuItem-disabled div,.k-menuimtem-title-disabled div {
  color: grey;
}

.oc-noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
}

.oc-menu .gwt-MenuItem {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  /* background-color: #c87137; */
  color: #333333;
}

.k-menuimtem-title {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 3px 2px 0;
}

/* Buttons */
.oc-button {
  padding: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  vertical-align: middle;
  background-color: #F2F2F2;
  white-space: nowrap;
  margin-right: 3px;
}

.oc-button:hover {
  border: 2px orange solid;
  background: #f0f0f0;
  color: #855585;
}

.oc-button:active {
  border-top-color: #ffffff;
  background: #ffffff;
}

/* shorcuts, only used in gxt guidescriptors */
#oc-mshortcut {
  position: absolute;
  right: 10px;
}

#oc-mshortcut-hidden {
  visibility: hidden;
}

#oc-mshortcut a {
  text-decoration: none;
  color: black;
}

.oc-user-msg {
  background-color: #FFCC00;
  padding: 3px;
}

.oc-user-msg-popup {
  padding: 0px;
  border: 0px;
}

.oc-floatleft {
  float: left;
}

.oc-floatright {
  float: right;
}

.x-toolbar {
  background: none !important;
  border-color: transparent !important;
}

.oc-testico {
  background-image: url(images/ico.png) !important;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background-attachment: scroll;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 16px;
  widows: 16px;
}

.oc-ico-pad { /* padding-right: 20px; */
  white-space: normal;
}

.oc-tb-spacer {
  margin: 2px;
  width: 2px;
}

.oc-tb-bottom-line {
  border-bottom-color: rgb(208, 208, 208);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.oc-blank-toolbar {
  background: #FFF none repeat scroll 0% 50%;
}

.oc-tb-sep {
  padding-top: 4px;
  padding-left: 5px;
}

.oc-transp .x-panel-body {
  background: transparent;
}

#oc-mshortcut {
  position: absolute;
  right: 10px;
}

#oc-mshortcut-hidden {
  visibility: hidden;
}

#oc-mshortcut a {
  text-decoration: none;
  color: black;
}

.k-no-backimage,.k-no-backimage td {
  background-image: none !important;
}

.k-nobackcolor {
  background-color: transparent !important;
}

.k-noborder {
  border: 0px !important;
}

.k-space-nowrap {
  white-space: nowrap;
}

.k-iconlabel-text, .k-iconlabel-notext {
  vertical-align: top;
  float: left;
}

.k-iconlabel-text {
  padding-left: 2px;
  padding-right: 2px;
}

.k-iconlabel-notext {
  padding-left: 0px;
  padding-right: 0px;
}

.k-iconlabel-left {
  float: left;
}

.k-iconlabel-right {
  float: left;
  /*   margin-left: 5px; */
}

img.k-iconlabel-left {
  margin-top: -2px;
}

div.k-iconlabel {
  margin-top: -2px;
}

.k-tb-sep {
  border-left: 1px solid #B3B3B3;
  height: 10px;
  margin-top: 4px;
}

/* tooltips, adaptation of http://jonrohan.me/guide/css/creating-triangles-in-css/ */
.k-tooltip {
  background-color: #FEFFF1;
  border: 1px solid #666666;
  line-height: 1.3em;
  padding: 5px;
}

.k-tooltip-arrow-border {
  border-style: solid;
  border-width: 7px;
  height: 0;
  width: 0;
  position: absolute;
}

.k-tooltip-arrow-border-n {
  border-color: transparent transparent #666666 transparent;
}

.k-tooltip-arrow-border-s {
  border-color: #666666 transparent transparent transparent;
}

.k-tooltip-arrow {
  border-style: solid;
  border-width: 7px;
  height: 0;
  width: 0;
  position: absolute;
}

.k-tooltip-arrow-n {
  border-color: transparent transparent #FEFFF1 transparent;
}

.k-tooltip-arrow-s {
  border-color: #FEFFF1 transparent transparent transparent;
}

/* IE6 */
.k-tooltip-arrow {
  _border-left-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: chroma(color =                                 pink);
}

/* end tooltip */
/* tabbar */
.gwt-DecoratedTabBar {

}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px; /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {

}

.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}

.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #e3e3e3;
}

.gwt-DecoratedTabBar .tabTopLeft,.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner
  {
  width: 6px;
  height: 6px;
}

.gwt-DecoratedTabBar .tabTopLeft {
  background: url(images/corner.png) no-repeat 0px -55px;
  -background: url(images/corner_ie6.png) no-repeat 0px -55px;
}

.gwt-DecoratedTabBar .tabTopRight {
  background: url(images/corner.png) no-repeat -6px -55px;
  -background: url(images/corner_ie6.png) no-repeat -6px -55px;
}

* html .gwt-DecoratedTabBar .tabTopLeftInner,* html .gwt-DecoratedTabBar .tabTopRightInner
  {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

.gwt-DecoratedTabBar .tabMiddleLeft,.gwt-DecoratedTabBar .tabMiddleRight
  {
  width: 6px;
  padding: 0px;
  background: #e3e3e3 url(images/hborder.png) repeat-x 0px -1463px;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,.gwt-DecoratedTabBar .tabMiddleRightInner
  {
  width: 1px;
  height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #e3e3e3 url(images/hborder.png) repeat-x 0px -1463px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #747474;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight
  {
  background: #bcbcbc url(images/hborder.png) repeat-x 0px -2511px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #bcbcbc url(images/hborder.png) repeat-x 0px -2511px;
  color: white;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: #999999;
}

/* End tabbar */
.k-editableLabel {
  font-weight: bold;
  padding: 3px
}

.k-editableLabel-high {
  font-weight: bold;
  background-color: #FFFBC1;
  color: black !important;
}

.k-editableLabel-high span {
  background-color: #FFFBC1;
  color: black !important;
}

.k-btn-min {
  min-width: 19px !important;
}

.k-overflow-y-scroll {
  overflow-y: scroll;
}

.k-overflow-y-auto {
  overflow-y: auto;
}

.k-overflow-x-scroll {
  overflow-x: scroll;
}

.k-tab-panel {
  padding: 10px;
  background-color: #F2F0F0;
  border: 1px solid #D0D0D0;
}

.k-line-through {
  text-decoration: line-through;
  color: gray;
}

.gwt-TextArea {
  border: 1px solid #BBBBBB;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}

/* Menu separators */
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  height: 1px;
  background: white;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #777777;
  background: #ddddee;
  overflow: hidden;
}

/* END Menu separators */
/* upper and lower cases */
.k-upper,.k-upper input {
  text-transform: uppercase;
}

.k-lower,.k-lower input {
  text-transform: lowercase;
}

/* Tables */
.k-tcell {
  display: table-cell;
}