/* In this file must be things than can be easily customized in other kune sites of the common library (basic one)*/

/* buttons */
.k-sn-mainpanel .x-btn button,.k-sn-mainpanel button,button.k-button,.gwt-FileUpload,button.gwt-Button
  {
  font: 14px 'Ubuntu', arial;
  border: 1px solid #ACACAC;
  cursor: pointer;
  cursor: hand;
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -27px;
  background-color: #F2F2F2;
  color: #A05A2C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  outline: 0 none;
  font-weight: bold;
  width: auto !IMPORTANT;
  width: 50px;
 /* min-width: 40px; */
  /* height: 26px; see common-resources */
  text-shadow: 1px 1px 1px #FFFFFF;
}

button.k-button {
  padding: 0 2px;
}

.k-sn-mainpanel .x-btn button:hover,.k-sn-mainpanel button:hover,button.k-button:hover,button.gwt-Button:hover
  {
  border: 1px orange solid;
  outline: 0 none;
}

.k-sn-mainpanel .x-btn button:hover span,.k-sn-mainpanel button:hover span,button.k-button:hover span
  {
  color: brown !important;
  outline: 0 none;
}

.k-sn-mainpanel .x-btn button:active,.k-sn-mainpanel button:active,button.k-button:active
  { /* border-top-color: #ffffff; */
  background: #ffffff;
}

.k-button-center {
  border-left: 1px solid #CCCCCC !important;
  border-right: 1px solid #CCCCCC !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* Derived from: from http://jonrohan.me/guide/css/creating-triangles-in-css/ */
.k-button-arrow {
  border-color: transparent transparent transparent #DDDDDD;
  border-style: solid;
  border-width: 5px;
  bottom: -7px;
  float: left;
  height: 0;
  left: -1px;
  margin-right: -10px;
  position: relative;
  width: 0;
}

/* IE6 */
.k-button-arrow {
  _border-top-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: literal("chroma(color=pink)");
}

.k-button-right {
  border-left: 1px solid #CCCCCC !important;
  -webkit-border-top-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  border-top-left-radius: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-left: 0px !important;
}

.k-button-left {
  border-right: 1px solid #CCCCCC !important;
  -webkit-border-top-right-radius: 0px !important;
  -moz-border-radius-topright: 0px !important;
  border-top-right-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-right: 0px !important;
}

button.k-button-center:hover {
  border-left: 1px solid orange !important;
  border-right: 1px solid orange !important;
  outline: 0 none;
}

button.k-button-right:hover {
  border-left: 1px solid orange !important;
  outline: 0 none;
}

button.k-button-left:hover {
  border-right: 1px solid orange !important;
  outline: 0 none;
}

button[disabled]:active,button[disabled],input[type="reset"][disabled]:active,input[type="reset"][disabled],input[type="button"][disabled]:active,input[type="button"][disabled],select[disabled]>input[type="button"],select[disabled]>input[type="button"]:active,input[type="submit"][disabled]:active,input[type="submit"][disabled],.k-button-disabled,button.k-button-disabled
  {
  color: gray !important;
  border-color: #CCCCCC !important;
  background: inherits !important;
  kfilter: alpha(opacity =
                           50) !important;
  -moz-opacity: 0.50 !important;
  -khtml-opacity: 0.50 !important;
  opacity: 0.50 !important;
}

button.k-button-right,button.k-button-right,button.k-button-alone {
  kfilter: alpha(opacity =
                           100) !important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
}

button.k-optionsborder img.k-iconlabel-left {
  border: 1px solid #ACACAC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: none repeat scroll 0 0 #808080;
}

.gwt-Button {
  background: url("images/hborder.png") repeat-x scroll 0 -27px
    transparent;
}

/* end buttons */
/* others: dialogs, gwt widgets, etc */
.gwt-DialogBox {
  border: 2px solid #AAAAAA;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-image: url(gray_gradient.gif);
  background-repeat: repeat-x;
  padding: 4px;
  padding-bottom: 8px;
  font-weight: bold;
  cursor: default;
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  cursor: default;
}

.gwt-MenuItem {
  font-size: 14px;
  margin: 1px;
  cursor: default;
}

.gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-Tree {

}

.gwt-Tree .gwt-TreeItem {
  font-size: 14px;
  cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
  background-color: white;
  border: 1px solid #AAAAAA;
  width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-image: url(blue_gradient.gif);
  background-repeat: repeat-x;
  background-color: #EEEEEE;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {

}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
  background-color: #C3D9FF;
  cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
  background-color: #C3D9FF;
  height: 8px;
  cursor: move;
}

.gwt-DisclosurePanel {
  border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
  background-color: #e8eef7;
  cursor: hand;
}

.gwt-SplitLayoutPanel {

}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger,.gwt-SplitLayoutPanel-HDragger
  {
  background-color: transparent;
  background: url("images/spliter-top.png") no-repeat scroll center bottom
    transparent;
  cursor: col-resize;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger,.gwt-SplitLayoutPanel-VDragger
  {
  background-color: white;
  background: none;
  cursor: row-resize;
}

.k-mask {
  background-color: #F2F2F2 !important;
  /* kfilter: alpha(opacity = 78) !important; */
  -moz-opacity: 0.78 !important;
  -khtml-opacity: 0.78 !important;
  opacity: 0.78 !important;
}
