/* In this file must be things than can be easily customized in other kune sites of the common library (basic one)*/

/* others: dialogs, gwt widgets, etc */
.gwt-DialogBox {
  border: 2px solid #AAAAAA;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-image: url(gray_gradient.gif);
  background-repeat: repeat-x;
  padding: 4px;
  padding-bottom: 8px;
  font-weight: bold;
  cursor: default;
}

.gwt-MenuBar {
  background-color: #C3D9FF;
  cursor: default;
}

.gwt-MenuItem {
  font-size: 14px;
  margin: 1px;
  cursor: default;
}

.gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-Tree {

}

.gwt-Tree .gwt-TreeItem {
  font-size: 14px;
  cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.gwt-StackPanel {
  background-color: white;
  border: 1px solid #AAAAAA;
  width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-image: url(blue_gradient.gif);
  background-repeat: repeat-x;
  background-color: #EEEEEE;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {

}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
    rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
    rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
  background-color: #C3D9FF;
  cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
  border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
  background-color: #C3D9FF;
  height: 8px;
  cursor: move;
}

.gwt-DisclosurePanel {
  border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
  background-color: #e8eef7;
  cursor: hand;
}

.gwt-SplitLayoutPanel {

}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger,.gwt-SplitLayoutPanel-HDragger
  {
  background-color: transparent;
  background: url("images/spliter-top.png") no-repeat scroll center bottom
    transparent;
  cursor: col-resize;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger,.gwt-SplitLayoutPanel-VDragger
  {
  background-color: white;
  background: none;
  cursor: row-resize;
}

.k-mask {
  background-color: #F2F2F2 !important;
  /* kfilter: alpha(opacity = 78) !important; */
  -moz-opacity: 0.78 !important;
  -khtml-opacity: 0.78 !important;
  opacity: 0.78 !important;
}
