/* Here the styles of cc.kune.commom (reused by other projects like gadgets and so on) */
.k-iconlabel-text {
  float: left;
}

.k-iconlabel-left {
  float: right;
}

.k-iconlabel-right {
  float: right;
}

.gwt-MenuBar .gwt-MenuItem {
  float: right;
}

.k-menuimtem-title {
  float: right;
}

.k-tool-panel {
  text-align: rigth;
}

.entityTools {
  text-align: right;
}

.docHeader {
  text-align: right;
  padding-right: 10px;
}