/** Add css rules here for your application. */
.kune-WebSafePalette {
  background-color: #FFF;
  border: 1px solid #AAA;
  margin: 1px;
}

.kune-WebSafePalette td {
  width: 12px;
  height: 10px;
}

.k-fl {
  float: left;
}

.k-fr {
  float: right;
}

.k-color-toolbar, button.k-color-toolbar {
  margin-top: 10px;
  cursor: hand;
  cursor: pointer;
}

