.kune-RoomPanel-HorizDelimiter {
    white-space: nowrap;
    color: #B3B3B3;
}

.kune-MultiRoomPanel-Subject {
    margin: 5px;
    font-size: 108%;
    color: #2E5492;
}

.kune-MultiRoomPanel-User {
}

.kune-RoomPanel-Conversation {
}


.kune-RoomPanel-Message {
    margin: 0 7px;
}

.kune-RoomPanel-EventMessage {
    font-style: italic;
    color: rgb(102, 153, 204);
    margin: 0 5px;
}
