.gwm-default-FrameCaption{
    width:100%;
    font-weight:bold;
    color:#FFFFFF;
    font-size:10px;
}
.gwm-default-Frame-TopBar{
  width: 100%;
  cursor:move;
}

.gwm-default-DialogOverlay{
    background-color: #85BBEF;
    filter:alpha(opacity=90);
    -moz-opacity: 	0.9;
    opacity: 0.9;
}

.gwm-default-ActionOverlay{
    background-color: #85BBEF;
    filter:alpha(opacity=15);
    -moz-opacity: 	0.15;
    opacity: 0.15;
}

.gwm-default-Frame-OutlineDrag{
    background-color: #85BBEF;
    filter:alpha(opacity=60);
    -moz-opacity: 	0.6;
    opacity: 0.6;
}

.gwm-default-FrameContent {
    overflow:auto;
    color: #000;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 10px;
    background:#FDFDFD;
}

.gwm-default-DeskTop-MinimizedFrameBar{
    float:left;
}