.k-site-traybar {
    background: #FFF none repeat scroll 0% 50%;
}

.k-blank-toolbar {
    background: #FFF none repeat scroll 0% 50%;
}

.k-sitebar .kune-IconHyperlink {
    white-space: nowrap;
}

.k-sitebar .kune-IconHyperlink a:link {
    cursor: pointer;
    text-decoration: underline;
    color: #B3B3B3;
}

.k-sitebar .kune-IconHyperlink a:hover {
    text-decoration: underline;
}

.k-sitebar .kune-IconHyperlink a:visited {
    color: #B3B3B3;
}

.k-sitebar-labellink {
    white-space: nowrap;
    color: #B3B3B3;
    cursor: pointer;
    text-decoration: underline;
}

.k-sitebar {
    margin-right: 10px;
    height: 16px;
    background: #FFF;
}

.k-sitebar .gwt-TextBox {
    border: 1px solid #E4A374;
    margin: 0 15px 0 3px;
    padding-left: 3px;
    color: #B3B3B3;
}

.k-sitebar .gwt-Hyperlink a {
    white-space: nowrap;
    color: #B3B3B3;
    text-decoration: underline;
    cursor: pointer;
}

.k-sitebar .gwt-PushButton {
    cursor: pointer;
}

.k-sitebar-LabelLink {
    white-space: nowrap;
    color: #B3B3B3;
    cursor: pointer;
    text-decoration: underline;
}

.k-entity-summary {
    border-left-color: #FFF;
    border-left-width: 5px;
    border-bottom-color: #FFF;
    border-bottom-width: 5px;
    }

.k-entitytextlogo-border {
    border: 2px solid #F2F2F2;
}

.k-entitytextlogo-no-border {
    border: none;
}

.k-entitytextlogo {
    height: 60px;
    margin: 0 0 4px 0;
    overflow: hidden;
    width: 468px;
}

.k-entitytextlogo table {
    vertical-align: middle;
}

.k-elogo-l-l {
    font-size: 272%;
}

.k-elogo-l-m {
    font-size: 167%;
}

.k-elogo-l-s {
    font-size: 108%;
}

.k-entitytextlogo .gwt-Label {
    font-weight: 700;
    margin: 5px;
    height: 27px;
}

.k-entitytextlogo-default .gwt-Label {
    color: #69312F;
}

.k-entitytextlogo-green .gwt-Label {
    color: #250;
}

.k-entitytextlogo-blue .gwt-Label {
    color: #000080;
}

.k-entitytextlogo-grey .gwt-Label {
    color: #1A1A1A;
}

.k-entitytextlogo-purple .gwt-Label {
    color: #440055;
}

.k-entitytextlogo-red .gwt-Label {
    color: #800000;
}

.k-elogo-plink {
    color: #CCC;
    font-size: 85%;
    margin: 5px;
    text-decoration: underline;
    white-space: nowrap;
    background-color: #FFF;
}

.k-elogop-expand {
    background-color: transparent;
}

.k-entity-default .x-layout-split,.k-entity-default .x-layout-collapsed {
    background: #DD8A3D none repeat scroll 0% 50%;
}

.k-entity-green .x-layout-split,.k-entity-green .x-layout-collapsed {
    background: #5FD35F none repeat scroll 0% 50%;
}

.k-entity-blue .x-layout-split,.k-entity-blue .x-layout-collapsed {
    background: #0066FF none repeat scroll 0% 50%;
}

.k-entity-grey .x-layout-split,.k-entity-grey .x-layout-collapsed {
    background: #4D4D4D none repeat scroll 0% 50%;
}

.k-entity-purple .x-layout-split,.k-entity-purple .x-layout-collapsed {
    background: #660080 none repeat scroll 0% 50%;
}

.k-entity-red .x-layout-split,.k-entity-red .x-layout-collapsed {
    background: #D40000 none repeat scroll 0% 50%;
}

.k-entityworkspace .x-layout-split,.k-entityworkspace .x-layout-collapsed
    {
    background: transparent none repeat scroll 0% 50%;
}

.k-entityworkspace-default .x-layout-split,.k-entityworkspace-default .x-layout-collapsed
    {
    background: #DEAA87 none repeat scroll 0% 50%;
}

.k-entityworkspace-green .x-layout-split,.k-entityworkspace-green .x-layout-collapsed
    {
    background: #DCE8AB none repeat scroll 0% 50%;
}

.k-entityworkspace-blue .x-layout-split,.k-entityworkspace-blue .x-layout-collapsed
    {
    background: #D5D5FF none repeat scroll 0% 50%;
}

.k-entityworkspace-grey .x-layout-split,.k-entityworkspace-grey .x-layout-collapsed
    {
    background: #999999 none repeat scroll 0% 50%;
}

.k-entityworkspace-purple .x-layout-split,.k-entityworkspace-purple .x-layout-collapsed
    {
    background: #A793AC none repeat scroll 0% 50%;
}

.k-entityworkspace-red .x-layout-split,.k-entityworkspace-red .x-layout-collapsed
    {
    background: #FF5555 none repeat scroll 0% 50%;
}

.k-entity-title {
    border-left-style: solid;
    border-left-width: 2px;
}

.k-entity-title div {
    line-height: 22px;
    white-space: nowrap;
}

.k-entity-subtitle {

}

.k-entity-subtitle div {
    line-height: 22px;
    white-space: nowrap;
}

.k-entity-title-rd-default {
    background: #DD8A3D;
}

.k-entity-title-rd-green {
    background: #5FD35F;
}

.k-entity-title-rd-blue {
    background: #0066FF;
}

.k-entity-title-rd-grey {
    background: #4D4D4D;
}

.k-entity-title-rd-purple {
    background: #660080;
}

.k-entity-title-rd-red {
    background: #D40000;
}

.k-entity-title-default {
    background: #F1BB59 none repeat scroll 0% 50%;
    border-left-color: #DD8A3D;
}

.k-entity-title-green {
    background: #AFA none repeat scroll 0% 50%;
    border-left-color: #5FD35F;
}

.k-entity-title-blue {
    background: #AFDDE9 none repeat scroll 0% 50%;
    border-left-color: #0066FF;
}

.k-entity-title-grey {
    background: #CCCCCC none repeat scroll 0% 50%;
    border-left-color: #4D4D4D;
}

.k-entity-title-purple {
    background: #DDAFE9 none repeat scroll 0% 50%;
    border-left-color: #660080;
}

.k-entity-title-red {
    background: #FF8080 none repeat scroll 0% 50%;
    border-left-color: #D40000;
}

.k-entity-title-default div {
    color: #69312F;
}

.k-entity-title-green div {
    color: #250;
}

.k-entity-title-blue div {
    color: #000080;
}

.k-entity-title-grey div {
    color: #1A1A1A;
}

.k-entity-title-purple div {
    color: #440055;
}

.k-entity-title-red div {
    color: #800000;
}

.k-entity-subtitle-default {
    background: #DD8A3D none repeat scroll 0% 50%;
}

.k-entity-subtitle-green {
    background: #5FD35F none repeat scroll 0% 50%;
}

.k-entity-subtitle-blue {
    background: #0066FF none repeat scroll 0% 50%;
}

.k-entity-subtitle-grey {
    background: #4D4D4D none repeat scroll 0% 50%;
}

.k-entity-subtitle-purple {
    background: #660080 none repeat scroll 0% 50%;
}

.k-entity-subtitle-red {
    background: #D40000 none repeat scroll 0% 50%;
}

.k-entity-subtitle-default div {
    color: #FFF;
}

.k-entity-subtitle-green div {
    color: #FFF;
}

.k-entity-subtitle-blue div {
    color: #FFF;
}

.k-entity-subtitle-grey div {
    color: #FFF;
}

.k-entity-subtitle-purple div {
    color: #FFF;
}

.k-entity-subtitle-red div {
    color: #FFF;
}

.k-entity-bottom-rd-default,.k-entity-bottom-default,.k-toolselectoritem-sel-default
    {
    background: #DD8A3D;
}

.k-entity-bottom-rd-green,.k-entity-bottom-green,.k-toolselectoritem-sel-green
    {
    background: #5FD35F;
}

.k-entity-bottom-rd-blue,.k-entity-bottom-blue,.k-toolselectoritem-sel-blue
    {
    background: #0066FF;
}

.k-entity-bottom-rd-grey,.k-entity-bottom-grey,.k-toolselectoritem-sel-grey
    {
    background: #4D4D4D;
}

.k-entity-bottom-rd-purple,.k-entity-bottom-purple,.k-toolselectoritem-sel-purple
    {
    background: #660080;
}

.k-entity-bottom-rd-red,.k-entity-bottom-red,.k-toolselectoritem-sel-red
    {
    background: #D40000;
}

.k-entity-context-default div,.k-entity-context-default .x-tree .x-panel-body
    {
    background: #FFD09D none repeat scroll 0% 50%;
}

.k-entity-context-green div,.k-entity-context-green .x-tree .x-panel-body
    {
    background: #CFA none repeat scroll 0% 50%;
}

.k-entity-context-blue div,.k-entity-context-blue .x-tree .x-panel-body
    {
    background: #AACCFF none repeat scroll 0% 50%;
}

.k-entity-context-grey div,.k-entity-context-grey .x-tree .x-panel-body
    {
    background: #B3B3B3 none repeat scroll 0% 50%;
}

.k-entity-context-purple div,.k-entity-context-purple .x-tree .x-panel-body
    {
    background: #DDAFE9 none repeat scroll 0% 50%;
}

.k-entity-context-red div,.k-entity-context-red .x-tree .x-panel-body {
    background: #FFAAAA none repeat scroll 0% 50%;
}

.k-entity-context-purple .x-tree .x-panel-body {
    background: #DDAFE9 none repeat scroll 0% 50%;
}

.k-entity-bottom div {
    /* line-height: 24px; */
    color: #FFF;
}

.k-toolbar-top-line {
    border-top-color: rgb(208, 208, 208);
    border-top-style: solid;
    border-top-width: 1px;
}

.k-toolbar-bottom-line {
    border-bottom-color: rgb(208, 208, 208);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label
    {
    white-space: nowrap;
    font: normal 100% arial, sans;
    line-height: 19px;
}

.k-toolbar-sep {
    padding-top: 4px;
    padding-left: 5px;
}

/* Custom gwt-ext styles */
.ytb-sep {
    background-image:
        url(../js/ext/resources/images/default/grid/grid-split.gif);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 16px;
    width: 4px;
    overflow: hidden;
    cursor: default;
    margin: 0 2px 0;
    border: 0;
}

.ytb-spacer {
    width: 2px;
}

.x-grid-group-hd {
    border-bottom: 2px solid grey;
    cursor: pointer;
    padding-top: 3px;
}

/* Drop down */
.k-dropdownouter {
    background-color: grey;
}

.k-dropdownouter-members {

}

.k-dropdownouter-members-default {
    background-color: #DF5244;
}

.k-dropdownouter-members-green {
    background-color: #008000;
}

.k-dropdownouter-members-blue {
    background-color: #5500D4;
}

.k-dropdownouter-members-grey {
    background-color: #4D4D4D;
}

.k-dropdownouter-members-purple {
    background-color: #672178;
}

.k-dropdownouter-members-red {
    background-color: #A02C2C;
}

.k-dropdownouter-part {

}

.k-dropdownouter-part-default {
    background-color: #CA5842;
}

.k-dropdownouter-part-green {
    background-color: #00AA00;
}

.k-dropdownouter-part-blue {
    background-color: #6600FF;
}

.k-dropdownouter-part-grey {
    background-color: #666666;
}

.k-dropdownouter-part-purple {
    background-color: #892CA0;
}

.k-dropdownouter-part-red {
    background-color: #C83737;
}

.k-dropdownouter-tags {

}

.k-dropdownouter-tags-default {
    background-color: #87501E;
}

.k-dropdownouter-tags-green {
    background-color: #00D400;
}

.k-dropdownouter-tags-blue {
    background-color: #9955FF;
}

.k-dropdownouter-tags-grey {
    background-color: #808080;
}

.k-dropdownouter-tags-purple {
    background-color: #AB37C8;
}

.k-dropdownouter-tags-red {
    background-color: #D35F5F;
}

.k-dropdownouter-summary {

}

.k-dropdownouter-summary-default {
    background-color: #9F734B;
}

.k-dropdownouter-summary-green {
    background-color: #4CE14C;
}

.k-dropdownouter-summary-blue {
    background-color: #69A5FF;
}

.k-dropdownouter-summary-grey {
    background-color: #A6A6A6;
}

.k-dropdownouter-summary-purple {
    background-color: #C473D8;
}

.k-dropdownouter-summary-red {
    background-color: #E08F8F;
}

.k-dropdowninner {
    margin: 0 3px 1px 3px;
    background: green;
    background-color: #FFF;
    /* padding: 3px; */
}

.k-dropdownlabel {
    color: #FFF;
    cursor: pointer;
}

.k-dropdownlabel .gwt-Label {
    margin: 0 5px 0 0;
    width: 100%;
}

.k-dropdownlabel img {
    margin: 0 3px 0 1px;
}

/* WsTheme */
.k-wstheme-icon-default {
    background: #FF8C00;
}

.k-wstheme-icon-green {
    background: green;
}

.k-wstheme-icon-blue {
    background: blue;
}

.k-wstheme-icon-grey {
    background: grey;
}

.k-wstheme-icon-purple {
    background: purple;
}

.k-wstheme-icon-red {
    background: red;
}

/* Tool selector items */
.k-toolselectoritem {
    width: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.k-toolselectoritem-sel {

}

.k-toolselectoritem-notsel-default {
    background: #FFE9A5;
}

.k-toolselectoritem-notsel-green {
    background: #D6F4D6;
}

.k-toolselectoritem-notsel-blue {
    background: #D7D7F4;
}

.k-toolselectoritem-notsel-grey {
    background: #E6E6E6;
}

.k-toolselectoritem-notsel-purple {
    background: #EED7F4;
}

.k-toolselectoritem-notsel-red {
    background: #FFD5D5;
}

.k-toolselectoritem-sel a {
    color: #FFF;
    padding: 0 9px;
    text-decoration: none;
}

.k-toolselectoritem-sel a:hover {
    text-decoration: none;
}

.k-toolselectoritem-notsel {

}

.k-toolselectoritem-notsel a {
    color: #0000FF;
    padding: 0 9px;
    text-decoration: none;
}

.k-toolselectoritem-notsel a:hover {
    text-decoration: underline;
}

/* others */

/*
.x-tree-node a span, .x-dd-drag-ghost a span {
    color:#000000;
    padding: 1px 0px 1px 1px;
    text-decoration:none;
}
*/

.k-textlinethrough {
    text-decoration: line-through;
    color: red;
}

.k-textnormal {
    text-decoration: inherit;
    color: green;
}

.k-textunderline {
    text-decoration: underline;
    color: gray;
}

.x-tool-kmenu {
    background-position: 0 -75px;
}

.x-tool-kmenu-over {
    background-position: -15px -75px;
}

.k-border-openbox {
    border-bottom: 1px #D0D0D0 solid;
    border-right: 1px #D0D0D0 solid;
    border-left: 1px #D0D0D0 solid;
}

/* SiteToastMessages */

.k-stm-info-icon {
  background-image: url(img/info.gif) !important;
}

.k-stm-imp-icon {
  background-image: url(img/alert.gif) !important;
}

.k-stm-verimp-icon {
  background-image: url(img/important.gif) !important;
}

.k-stm-error-icon {
  background-image: url(img/error.gif) !important;
}

.k-error-tb {
  background: #FFB380 none repeat scroll 0% 50%;
  color: #250;
}

.k-infod-head {
  font-size: 108%;
  margin-bottom: 10px;
}

.gwt-DisclosurePanel {
}

.gwt-DisclosurePanel-open {
}

.gwt-DisclosurePanel-closed {
}

.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
  text-decoration: none;  /* Remove underline from header */
  color: black;
  cursor: pointer;
  cursor: hand;
}

.gwt-DisclosurePanel .content {
  border-left: 3px solid #e8eef7;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}

.k-basic-thumb {
    background: #FAFAFA none repeat scroll 0% 50%;
    border: 1px solid #EBEBEB;
    padding: 3px;
    margin: 3px;
}

.k-basic-thumb td {
  padding: 2px 3px 2px 3px;
  border: none;
}

.k-text-gray {
    color: gray;
}

.k-elp-limg {
  margin-top: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.k-tsp-tag {
  float: right;
  margin-right: 5px;
  cursor: pointer;
  color: #0000FF;
}

.k-tsp-cloud {
  vertical-align: bottom;
}

.k-options-icon {
  background-image: url(img/emblem-system.gif) !important;
}

.x-toolbar-body table {
    width: 100%;
}

