.kunebody {
  background-color: #FFF;
  color: #000;
  font-family: arial, sans;
  margin: 5px 5px 5px 5px;
}

#kuneinitialcurtain {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 9999;
}

/* Global styles */

.gwt-HorizontalSplitPanel .hsplitter {
  cursor: e-resize;
  width: 6px;
}

.gwt-DialogBox {
  border: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  font-size: 85%;
  font-weight: 700;
  padding: 3px;
  margin: 2px;
  cursor: default;
}

.gwt-MenuBar {
  background-color: #F2F2F2;
  border: 1px solid #999;
  vertical-align: middle;
  padding: 5px 0;
}

.gwt-MenuBar .gwt-MenuItem {
  cursor: pointer;
  padding: 1px 10px;
  white-space: nowrap;
}

.gwt-MenuBar .gwt-MenuItem img {
  vertical-align: middle;
  margin-right: 3px;
}

.gwt-MenuBar .gwt-MenuItem {
  background-color: #F2F2F2;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #FFB958;
}

.kune-MenuBar .gwt-MenuItem {
  background: transparent url(img/button-bg-hard.gif) repeat-x 0 0;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  color: #999;
  cursor: pointer;
  cursor: hand;
  white-space: nowrap;
  padding: 0 10px;
}

.kune-MenuBar .gwt-MenuItem-selected {
  background: transparent url(img/button-bg-soft.gif) repeat-x 0 0;
  color: #996633;
}

.kune-expandHoriz {
  width: 100%;
}

.kune-expandVert {
  height: 100%;
}

.kune-floatleft {
  float: left;
}

.kune-floatright {
  float: right;
}

.kune-Default-Form {
  margin: 10px;
}

fieldset {
  border:1px solid #B5B8C8;
  /* margin-bottom:10px; */
  padding:10px 10px 5px;
}

legend {
  color:#15428B;
  font-size: 85%;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
}

.gwt-RadioButton input {
  margin: 0 3px;
  vertical-align:middle;
}

.gwt-RadioButton label {
  margin: 0 3px;
  vertical-align:middle;
}

.kune-pointer {
  cursor: pointer;
}

.kuneLabelPre {
  white-space: pre !important;
}

/* Buttons */

.kune-CustomPushButton-space {
  margin-top: 3px;
  margin-bottom: 3px;
}

.kune-CustomPushButton {
  background: transparent url(img/button-bg-hard.gif) repeat-x 0 0;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  color: #999;
  cursor: pointer;
  white-space: nowrap;
  padding: 0px 12px;
}

.kune-CustomPushButton-up {
  color: #161616;
}

.kune-CustomPushButton-down {
  color: black;
}

.kune-CustomPushButton-up-hovering {
  color: #161616;
  background: transparent url(img/button-bg-soft.gif) repeat-x 0 0;
}

.kune-CustomPushButton-down-hovering {
  color: black;
}

.kune-CustomPushButton-up-disabled {
  background: transparent url(img/button-bg-soft.gif) repeat-x 0 0;
  color: #E0E0E0;
  cursor: normal;
}

.kune-CustomPushButton-down-disabled {
  background: transparent url(img/button-bg-soft.gif) repeat-x 0 0;
  color: #E0E0E0;
  cursor: normal;
}

.kune-Button-Large-lrSpace {
  margin-left: 12px;
  margin-right: 12px;
}

.kune-Button-Large-rSpace {
  margin-right: 12px;
}

.kune-Button-Large-lSpace {
  margin-left: 12px;
}

.kune-Button-Large-tbSpace {
  margin-top: 12px;
  margin-bottom: 12px;
}

.kune-Button-Small-lrSpace {
  margin-left: 10px;
  margin-right: 10px;
}

.kune-Button-Small-rSpace {
  margin-right: 10px;
}

.kune-Button-Small-lSpace {
  margin-left: 10px;
}

.kune-Button-Small-tbSpace {
  margin-top: 10px;
  margin-bottom: 10px;
}

.kune-Button-Mini-lSpace {
  margin-left: 8px;
}

.kune-Button-Mini-lrSpace {
  margin-left: 8px;
  margin-right: 8px;
}

.kune-Button-Mini-rSpace {
  margin-right: 8px;
}

.kune-Button-Mini-tbSpace {
  margin-top: 8px;
  margin-bottom: 8px;
}

.kune-IconHyperlink {
}

.kune-IconHyperlink a:link {
  /* text-decoration: underline; */
  color: green;
}

.kune-IconHyperlink a:hover {
  text-decoration: underline;
}

.kune-IconHyperlink a:visited {
  color: #808000;
}

.kune-IconHyperlink img {
  margin-right: 4px;
  vertical-align: middle;
}

.kune-IconLabel {

}

.kune-IconLabel img {
  margin-right: 4px;
  vertical-align: middle;
}

.kune-link {
  text-decoration: underline;
  color: green;
  cursor: pointer;
}

/* DropDowns */

.kune-DropDownOuter {
  background-color: green;
}

.kune-DropDownInner {
  margin: 0 3px 1px 3px;
  background: green;
  background-color: #FFF;
  padding: 3px;
}

.kune-DropDownLabel {
  color: #FFF;
  cursor: pointer;
}

.kune-DropDownLabel .gwt-Label {
  margin: 0 5px 0 0;
  width: 100%;
}

.kune-DropDownLabel img {
  margin: 0 3px 0 1px;
}

.kune-IconLabel {
  color: green;
}

.kune-IconLabel img {
  margin-right: 4px;
  vertical-align: middle;
}

/* Margins */

.kune-Margin-40-trbl {
  margin: 40px;
}

.kune-Margin-40-lr {
  margin-left: 40px;
  margin-right: 40px;
}

.kune-Margin-40-tl {
  margin-top: 40px;
  margin-left: 40px;
}

.kune-Margin-40-tb {
  margin-top: 40px;
  margin-bottom: 40px;
}

.kune-Margin-40-t {
  margin-top: 40px;
}

.kune-Margin-40-r {
  margin-right: 40px;
}

.kune-Margin-40-l {
  margin-left: 40px;
}

.kune-Margin-20-trbl {
  margin: 20px;
}

.kune-Margin-20-lr {
  margin-left: 20px;
  margin-right: 20px;
}

.kune-Margin-20-tl {
  margin-top: 20px;
  margin-left: 20px;
}

.kune-Margin-20-tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.kune-Margin-20-t {
  margin-top: 20px;
}

.kune-Margin-20-r {
  margin-right: 20px;
}

.kune-Margin-20-l {
  margin-left: 20px;
}

.kune-Margin-Large-trbl {
  margin: 10px;
}

.kune-Margin-Large-lr {
  margin-left: 10px;
  margin-right: 10px;
}

.kune-Margin-Large-tl {
  margin-top: 10px;
  margin-left: 10px;
}

.kune-Margin-Large-tb {
  margin-top: 10px;
  margin-bottom: : 10px;
}

.kune-Margin-Large-t {
  margin-top: 10px;
}

.kune-Margin-Large-r {
  margin-right: 10px;
}

.kune-Margin-Large-l {
  margin-left: 10px;
}

.kune-Margin-Medium-trbl {
  margin: 5px;
}

.kune-Margin-Medium-lr {
  margin-left: 5px;
  margin-right: 5px;
}

.kune-Margin-Medium-tl {
  margin-top: 5px;
  margin-left: 5px;
}

.kune-Margin-Medium-tb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.kune-Margin-Medium-t {
  margin-top: 5px;
}

.kune-Margin-Medium-r {
  margin-right: 5px;
}

.kune-Margin-Medium-b {
  margin-bottom: 5px;
}

.kune-Margin-Medium-l {
  margin-left: 5px;
}

.kune-Margin-Small-trbl {
  margin: 3px;
}

.kune-Margin-Small-lr {
  margin-left: 3px;
  margin-right: 3px;
}

.kune-Margin-Small-tl {
  margin-top: 3px;
  margin-left: 3px;
}

.kune-Margin-Small-tb {
  margin-top: 3px;
  margin-bottom: 3px;
}

.kune-Margin-Small-t {
  margin-top: 3px;
}

.kune-Margin-Mini-trbl {
  margin: 1px;
}

.kune-Margin-Mini-lr {
  margin-left: 1px;
  margin-right: 1px;
}

.kune-Margin-Mini-tl {
  margin-top: 1px;
  margin-left: 1px;
}

.kune-Margin-Mini-tb {
  margin-top: 1px;
  margin-bottom: 1px;
}

.kune-Margin-Mini-t {
  margin-top: 1px;
}

.kune-Margin-Mini-r {
  margin-right: 1px;
}

.kune-Margin-Mini-l {
  margin-left: 1px;
}

/* Fonts
see: http://developer.yahoo.com/yui/fonts/ */

.kune-ft10px {
  font-size: 77%
}

.kune-ft11px {
  font-size: 85%
}

.kune-ft12px {
  font-size: 93%
}

.kune-ft13px {
  font-size: 100%
}

.kune-ft14px {
  font-size: 108%
}

.kune-ft15px {
  font-size: 116%
}

.kune-ft16px {
  font-size: 123.1%
}

.kune-ft17px {
  font-size: 131%
}

.kune-ft18px {
  font-size: 138.5%
}

.kune-ft19px {
  font-size: 146.5%
}

.kune-ft20px {
  font-size: 153.9%
}

.kune-ft21px {
  font-size: 161.6%
}

.kune-ft22px {
  font-size: 167%
}

.kune-ft23px {
  font-size: 174%
}

.kune-ft24px {
  font-size: 182%
}

.kune-ft25px {
  font-size: 189%
}

.kune-ft26px {
  font-size: 197 %
}