.k-site-traybar {
    background: #FFF none repeat scroll 0% 50%;
}

.k-sitebar .kune-IconHyperlink {
    white-space: nowrap;
}

.k-sitebar .kune-IconHyperlink a:link {
    cursor: pointer;
    text-decoration: underline;
    color: #B3B3B3;
}

.k-sitebar .kune-IconHyperlink a:hover {
    text-decoration: underline;
}

.k-sitebar .kune-IconHyperlink a:visited {
    color: #B3B3B3;
}

.k-sitebar {
    margin-right: 10px;
    height: 16px;
}

.k-sitebar .gwt-TextBox {
    border: 1px solid #E4A374;
    margin: 0 15px 0 3px;
    padding-left: 3px;
    color: #B3B3B3;
}

.k-sitebar .gwt-Hyperlink a {
    white-space: nowrap;
    color: #B3B3B3;
    text-decoration: underline;
    cursor: pointer;
}

.k-sitebar .gwt-PushButton {
    cursor: pointer;
}

.k-sitebar-LabelLink {
    white-space: nowrap;
    color: #B3B3B3;
    margin-left: 3px;
    cursor: pointer;
    text-decoration: underline;
}

.k-entity-summary {
    border-left-color: #FFF;
    border-left-width: 5px;
}

.k-EntityTextLogo {
    border: 2px solid #F2F2F2;
    height: 60px;
    margin: 0 0 4px -1px;
    overflow: hidden;
    width: 468px;
}

.k-entitytextlogo .gwt-Label {
    font-size: 167%;
    font-weight: 700;
    margin: 5px;
    height: 27px;
}

.k-entitytextlogo-def .gwt-Label {
    color: #69312F;
}

.k-entitytextlogo-green .gwt-Label {
    color: #000080;
}

.k-entitytextlogo .gwt-Hyperlink a {
    color: #CCC;
    font-size: 85%;
    margin: 5px;
    text-decoration: underline;
    white-space: nowrap;
    background-color: #FFF;
}

.k-entity-def .x-layout-split {
    background: #DD8A3D none repeat scroll 0% 50%;
}

.k-entity-green .x-layout-split {
    background: #5FD35F none repeat scroll 0% 50%;
}

.k-entityworkspace .x-layout-split {
    background: transparent none repeat scroll 0% 50%;
}

.k-entityworkspace-def .x-layout-split {
    background: #DEAA87 none repeat scroll 0% 50%;
}

.k-entityworkspace-green .x-layout-split {
    background: #DCE8AB none repeat scroll 0% 50%;
}

.k-entity-title {
    border-left-style: solid;
    border-left-width: 2px;
}

.k-entity-title div {
    line-height: 22px;
    white-space: nowrap;
}

.k-entity-subtitle {
}

.k-entity-subtitle div {
    line-height: 22px;
    white-space: nowrap;
}

.k-entity-title-rd-def {
    background: #DD8A3D;
}

.k-entity-title-rd-green {
    background: #5FD35F;
}

.k-entity-title-def {
    background: #F1BB59 none repeat scroll 0% 50%;
    border-left-color: #DD8A3D;
}

.k-entity-title-def div {
    color: #69312F;
}

.k-entity-title-green {
    background: #AFA none repeat scroll 0% 50%;
    border-left-color: #5FD35F;
}

.k-entity-title-green div {
    color: #250;
}

.k-entity-subtitle-def {
    background: #DD8A3D none repeat scroll 0% 50%;
}

.k-entity-subtitle-def div {
    color: #FFF;
}

.k-entity-subtitle-green {
    background: #5FD35F none repeat scroll 0% 50%;
}

.k-entity-subtitle-green div {
    color: #FFF;
}

.k-entity-bottom-rd-def {
    background: #DD8A3D;
}

.k-entity-bottom-rd-green {
    background: #5FD35F;
}

.k-entitylicensepanel-licensetext {
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}

.k-entity-container-def div {
    background: #FFD09D none repeat scroll 0% 50%;
}

.k-entity-container-green div {
    background: #CFA none repeat scroll 0% 50%;
}

.k-entity-bottom div {
    line-height: 2em;
}

.k-entity-bottom-def {
    background: #DD8A3D;
}

.k-entity-bottom-def div {
    color: #FFF;
}

.k-entity-bottom-green {
    background: #5FD35F;
}

.k-entity-bottom-green div {
    color: #FFF;
}

.k-toolbar-top-line {
    border-top-color: rgb( 208, 208, 208 );
    border-top-style: solid;
    border-top-width: 1px;
}

.k-toolbar-bottom-line {
    border-bottom-color: rgb( 208, 208, 208 );
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
    white-space: nowrap;
    font: normal 13px arial, sans;
    line-height: 19px;
}

.k-toolbar-sep {
    padding-top: 4px;
}

/* Custom gwt-ext styles */

.ytb-sep {
    background-image: url(../js/ext/resources/images/default/grid/grid-split.gif);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 16px;
    width: 4px;
    overflow: hidden;
    cursor: default;
    margin: 0 2px 0;
    border: 0;
}

.ytb-spacer {
    width: 2px;
}

.x-grid-group-hd {
    border-bottom: 2px solid grey;
    cursor: pointer;
    padding-top: 3px;
}

/* Drop down */

.k-dropdownouter {
    background-color: gray;
}

.k-dropdownouter-members {
}

.k-dropdownouter-members-def {
    background-color: #DF5244;
}

.k-dropdownouter-members-green {
    background-color: #008000;
}

.k-dropdownouter-part {
}

.k-dropdownouter-part-def {
    background-color: #CA5842;
}

.k-dropdownouter-part-green {
    background-color: #00AA00;
}

.k-dropdownouter-tags {
}

.k-dropdownouter-tags-def {
    background-color: #87501E;
}

.k-dropdownouter-tags-green {
    background-color: #00D400;
}

.k-dropdownouter-summary {
}

.k-dropdownouter-summary-def {
    background-color: #9F734B;
}

.k-dropdownouter-summary-green {
    background-color: #4CE14C;
}

.k-dropdowninner {
    margin: 0 3px 1px 3px;
    background: green;
    background-color: #FFF;
    /* padding: 3px; */
}

.k-dropdownlabel {
    color: #FFF;
    cursor: pointer;
}

.k-dropdownlabel .gwt-Label {
    margin: 0 5px 0 0;
    width: 100%;
}

.k-dropdownlabel img {
    margin: 0 3px 0 1px;
}
