.kunebody {
    background-color: #FFF;
    color: #000;
    font-family: arial;
    margin: 5px 5px 5px 5px;
}

#initialstatusbar {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 1px;
    z-index: 1000;
}

/* Global styles */
.gwt-HorizontalSplitPanel .hsplitter {
    width: 5px;
    cursor: e-resize;
    background: #CDDE87 url(img/splitter-vert-bar.gif) no-repeat;
    background-position: center center;
    border-right: 1px solid #BCD35F;
    border-left: 1px solid #BCD35F;
}

.gwt-DialogBox {
    border: 8px solid #C3D9FF;
    border: 2px outset;
    background-color: white;
}

.gwt-DialogBox .Caption {
    background-color: #C3D9FF;
    font-size: 85%;
    font-weight: 700;
    padding: 3px;
    margin: 2px;
    cursor: default;
}

.gwt-MenuBar {
    background-color: #FFFCD5;
    border: 1px solid #D38D5F;
    cursor: default;
    padding: 2px;
}

.gwt-MenuBar .gwt-MenuItem {
    padding: 1px 4px 1px 4px;
    cursor: default;
    white-space: nowrap;
    vertical-align: middle;
}

.gwt-MenuBar .gwt-MenuItem-selected {
    background-color: #FFB958;
    vertical-align: middle;
}

.kune-expandHoriz {
    width: 100%;
}

.kune-Default-Form {
    margin: 20px;
}

/* Sitebar */
.kune-SiteBarPanel {
    width: 100%;
    height: 16px;
}

.kune-SiteBarPanel .gwt-TextBox {
    border: 1px solid #E4A374;
    margin: 0 15px 0 3px;
}

.kune-SiteBarPanel .gwt-Hyperlink {
    white-space: nowrap;
    color: #B3B3B3;
    text-decoration: underline;
    margin: 0 3px;
    cursor: pointer;
}

.kune-SiteBarPanel .gwt-Button { /* FIXME: test this */
    cursor: pointer;
}

.kune-SiteBarPanel-Separator {
    color: #E4A374;
    margin: 0 3px;
}

.kune-Progress {
    background: #E5FF80;
    border: 1px solid #E5FF80;
    white-space: nowrap;
    height: 16px;
    padding: 0 3px;
}

/* Workspace styles */
.kune-WorkspacePanel {
    width: 100%;
    background-color: #FFF;
}

.kuen-WokspacePane .Tab {

}

.kune-WorkspacePanel .GeneralHP {
}

.kune-WorkspacePanel .ContextPanel {
    width: 100%;
    border-right: 3px solid #5FD35F;
}

.kune-EntityTextLogo {
    border: 2px solid #F2F2F2;
    overflow: hidden;
    width: 468px;
    height: 60px;
    margin-bottom: 4px;
}

.kune-EntityTextLogo .gwt-Label {
    font-size: 122%;
    font-weight: 700;
    color: navy;
    margin: 5px;
}

.kune-EntityTextLogo .gwt-Hyperlink {
    color: #CCC;
    font-size: 77%;
    text-decoration: underline;
    text-align: right;
    margin: 5px;
}

.kune-SummaryPanel {
    margin: 5px 0 0 5px;
    width: 100%;
}

/* TODO: Split and remove repeted */
.kune-GroupToolsBar {
    width: 150px;
}

.kune-GroupToolsBar-itemSelected {
    margin-bottom: 5px;
}

.kune-GroupToolsBar-itemSelected .gwt-Hyperlink a {
    color: #FFF;
    padding: 0 9px;
    text-decoration: none;
}

.kune-GroupToolsBar-itemSelected .gwt-Hyperlink a:hover {
    text-decoration: none;
}

.kune-GroupToolsBar-itemNotSelected {
    margin-bottom: 5px;
}

.kune-GroupToolsBar-itemNotSelected  .gwt-Hyperlink a {
    color: green;
    padding: 0 9px;
    text-decoration: none;
}

.kune-GroupToolsBar-itemNotSelected  .gwt-Hyperlink a:hover {
    text-decoration: none;
}

.kune-ContextTitleBar {
    background-color: #5FD35F;
    color: #250;
    font-weight: 700;
    width: 100%;
}

.kune-ContextTitleBar .gwt-Label {
    width: 100%;
    height: 23px;
    vertical-align: middle;
    margin: 0 9px;
}

.kune-ContextToolBar {
    border-left: 2px solid #5FD35F;
    background-color: #AFA;
    color: #250;
    width: 100%;
    height: 25px;
}

.kune-ContextToolBar .gwt-Label {
    margin: 0 9px;
}

.kune-ContextBottomBar {
    background: #5FD35F;
    color: #FFF;
    font-weight: 700;
    font-size: 77%;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
    height: 24px;
}

/* Main Content & Context */
.kune-WorkspacePanel-Content {
    background-color: #FFF;
    margin: 0 5px 5px 0;
    width: 99%;
}

.kune-WorkspacePanel-Context {
    background-color: #CFA;
    width: 100%;
    height: 100%;
}

.kune-NavigationBar {
    width: 100%;
}

.kune-NavigationBar .topBar {
    background-color: #ececec;
    background: #ececec;
    border-bottom: 1px solid #e3dbdb;
    padding: 5px;
    vertical-align: middle;
    width: 16px;
}

.kune-NavigationBar .topBar .gwt-PushButton {
    margin: 1px 5px;
}

/* FIXME: test if works */
.topBar .gwt-PushButton-up-disabled {
    filter:alpha(opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2;
}

.topBar .gwt-PushButton-down-disabled {
    filter:alpha(opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2;
}

.kune-NavigationBar .topBar .gwt-Image {
    margin: 0 2px;
}

.kune-NavigationBar .Items {
    margin: 2px;
}

.kune-NavigationBar .Items .gwt-Image {
    /* space between navbar items (images) */
    margin: 1px 3px;
}

.kune-NavigationBar .Items .gwt-Hyperlink a {
    color: green; /* FIXME: other color */
}

.kune-NavigationBar .pathMenu {
    vertical-align: middle;
}

.kune-NavigationBar .pathMenu .gwt-MenuItem {
    background: transparent url(img/button-bg-hard.gif) repeat-x 0 0;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    color: #999;
    cursor: pointer;
    cursor: hand;
    white-space: nowrap;
    padding: 3px 6px;
}

.kune-NavigationBar .pathMenu .gwt-MenuItem-selected {
    background: transparent url(img/button-bg-soft.gif) repeat-x 0 0;
    color: #000;
}

.kune-SiteMessagePanel {
    background-color: #E5FF80;
    border: 1px solid #CF0;
    color: #250;
    z-index: 1000;
    vertical-align: middle;
}

.kune-SiteMessagePanel .gwt-HTML {
    margin: 10px 5px 10px 2px;
}

.kune-SiteMessagePanel .gwt-Image {
    margin: 3px;
}

.kune-SiteMessagePanel .error {
    background-color: #FFB380;
}

.kune-SiteMessagePanel .veryimp {
    background-color: #FFD4AA;
}

.kune-SiteMessagePanel .imp {
    background-color: #FFE6D5;
}

.kune-SiteMessagePanel .info {
    background-color: #E5FF80;
}

/* RTE Text editor */
.gwt-RichTextArea {
    border: 1px solid #000;
    background-color: #FFF;
}

.gwt-RichTextToolbar {
    background-color: #F2F2F2;
    padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
    margin-right: 2px;
    border: 1px solid #F2F2F2;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
    margin-right: 2px;
    border: 1px solid #C3D9FF;
    border-color: #E8F1FF #9daecd #9daecd #e8f1ff;
}

.gwt-RichTextToolbar .gwt-PushButton-down {
    margin-right: 2px;
    border: 1px solid #C3D9FF;
    border-color: #9DAECD #e8f1ff #e8f1ff #9daecd;
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
    margin-right: 2px;
    border: 1px solid #C3D9FF;
    border-color: #9DAECD #e8f1ff #e8f1ff #9daecd;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
    margin-right: 2px;
    border: 1px solid #F2F2F2;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
    margin-right: 2px;
    border: 1px solid #C3D9FF;
    border-color: #E8F1FF #9daecd #9daecd #e8f1ff;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
    margin-right: 2px;
    background-color: #E8F1FF;
    border: 1px solid #C3D9FF;
    border-color: #9DAECD #e8f1ff #e8f1ff #9daecd;
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
    margin-right: 2px;
    background-color: #E8F1FF;
    border: 1px solid #C3D9FF;
    border-color: #9DAECD #e8f1ff #e8f1ff #9daecd;
}

.RichTextToolbar-menu table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

.RichTextToolbar-menu .gwt-MenuItem {
    margin-right: 2px;
    border: 1px solid #F2F2F2;
}

.RichTextToolbar-menu .gwt-MenuItem-selected {
    margin-right: 2px;
    background-color: #E8F1FF;
    border: 1px solid #C3D9FF;
    border-color: #9DAECD #e8f1ff #e8f1ff #9daecd;
}

.RichTextToolbar-submenu {
    background-color: #FFFCD5;
    border: 1px solid #D38D5F;
    cursor: default;
}

.RichTextToolbar-submenu .gwt-MenuItem {
    cursor: default;
    white-space: nowrap;
    border: 1px solid #FFFCD5;
    padding: 0 4px;
}

.RichTextToolbar-submenu .gwt-MenuItem-selected {
    background-color: #FFB958;
    border: 1px solid #C83737;
}

.kune-WebSafePalette {
    background-color: #FFF;
    border: 1px solid #AAA;
    margin: 1px solid red;
}

.kune-WebSafePalette td {
    width: 12px;
    height: 10px;
}
