/* Sitebar */

.kune-SiteBarPanel .kune-IconHyperlink {
  white-space: nowrap;
}

.kune-SiteBarPanel .kune-IconHyperlink a:link {
  cursor: pointer;
  text-decoration: underline;
  color: #B3B3B3;
}

.kune-SiteBarPanel .kune-IconHyperlink a:hover {
  text-decoration: underline;
}

.kune-SiteBarPanel .kune-IconHyperlink a:visited {
  color: #B3B3B3;
}

.kune-SiteBarPanel {
  margin-right: 10px;
  height: 16px;
}

.kune-SiteBarPanel .gwt-TextBox {
  border: 1px solid #E4A374;
  margin: 0 15px 0 3px;
  padding-left: 3px;
  color: #B3B3B3;
}

.kune-SiteBarPanel .gwt-Hyperlink a {
  white-space: nowrap;
  color: #B3B3B3;
  text-decoration: underline;
  cursor: pointer;
}

.kune-SiteBarPanel .gwt-PushButton {
  cursor: pointer;
}

.kune-SiteBarPanel-Separator {
  color: #E4A374;
  margin: 0 5px;
}

.kune-SiteBarPanel-SpaceSeparator {
  width: 10px;
}

.kune-SiteMessagePanel {
  color: #250;
  position: absolute;
  z-index: 10000;
  vertical-align: middle;
}

.kune-SiteMessagePanel .gwt-HTML {
  margin: 15px 5px 15px 2px;
}

.kune-SiteMessagePanel .gwt-Image {
  margin: 5px;
}

.kune-SiteMessagePanel-error {
  background-color: #FFB380;
  border: 1px solid #FF0066;
}

.kune-SiteMessagePanel-veryimp {
  background-color: #FFD4AA;
  border: 1px solid #FF5599;
}

.kune-SiteMessagePanel-imp {
  background-color: #FFE6D5;
  border: 1px solid #DE87AA;
}

.kune-SiteMessagePanel-info {
  background-color: #E5FF80;
  border: 1px solid #87DE87;
}

/* Workspace styles */
.kune-WorkspacePanel {
  width: 100%;
  background-color: #FFF;
}

.kune-WokspacePanel .Tab {

}

.kune-WorkspacePanel .GeneralHP {

}

.kune-WorkspacePanel .ContextPanel {
  width: 100%;
  border-right: 3px solid #DD8A3D;
}

.kune-GroupSummaryPanel {
  margin: 5px 0 0 5px;
  width: 100%;
}

.kune-GroupToolsBar {
  width: 150px;
}

.kune-GroupToolsBar-itemSelected {
  margin-bottom: 5px;
}

.kune-GroupToolsBar-itemSelected .gwt-Hyperlink a {
  color: #FFF;
  padding: 0 9px;
  text-decoration: none;
}

.kune-GroupToolsBar-itemSelected .gwt-Hyperlink a:hover {
  text-decoration: none;
}

.kune-GroupToolsBar-itemNotSelected {
  margin-bottom: 5px;
}

.kune-GroupToolsBar-itemNotSelected  .gwt-Hyperlink a {
  color: green;
  padding: 0 9px;
  text-decoration: none;
}

.kune-GroupToolsBar-itemNotSelected  .gwt-Hyperlink a:hover {
  text-decoration: none;
}

/* Content titles */

.kune-ContentToolBarPanel {
  background-color: #F2F2F2;
  padding: 2px;
  height: 24px;
  vertical-align: middle;
}

.kune-ContentBottomBar {
  vertical-align: middle;
  height: 24px;
}

.kune-ContentBottomBar .gwt-Image {
  margin-left: 5px;
  cursor: pointer;
  float: left;
}

.kune-ContentBottomBar .gwt-Label a {

}

/* Main Content & Context */
.kune-WorkspacePanel-Content {
  background-color: #FCFCFC;
  width: 100%;
  height: 100%;
}

.kune-WorkspacePanel-Content .main-content {
  margin: 7px 5px 5px 10px;
}

.kune-WorkspacePanel-Context {
  background-color: #CFA;
  width: 100%;
  height: 100%;
}

.kune-NavigationBar {
  width: 100%;
}

.kune-NavigationBar .topBar {
  background-color: #ececec;
  background: #ececec;
  border-bottom: 1px solid #e3dbdb;
  vertical-align: middle;
}

.kune-NavigationBar .topBar .gwt-PushButton {
  margin: 1px 3px 1px 0;
}

.kune-NavigationBar .topBar .gwt-Label {
  vertical-align: middle;
}

.kune-NavigationBar .kune-topBar-iconBar {
  margin: 2px 0 2px 5px;
}

.kune-NavigationBar .kune-ContextItemsPanel-LabelLink {
  /*  text-decoration: underline; */
  color: green;
  cursor: pointer;
  margin-left: 3px;
}

/*
.topBar .gwt-PushButton-up-disabled {
  filter: alpha(opacity =             20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}

.topBar .gwt-PushButton-down-disabled {
  filter: alpha(opacity =             20);
  -moz-opacity: 0.2;
  opacity: 0.2;
}
*/
.kune-NavigationBar .topBar .gwt-Image {
  margin: 0 2px 0 5px;
}

.kune-NavigationBar .Items {
  margin: 2px 0;
}

.kune-NavigationBar .Items .gwt-Image {
  margin: 2px 0;
  vertical-align: middle;
}

.kune-NavigationBar .Items .gwt-Hyperlink a {
  color: green; /* FIXME: other color */
}

.kune-NavigationBar .topBar .topBar-margin {
  margin-left: 5px;
}

.kune-NavigationBar .pathMenu {
  vertical-align: middle;
}

.kune-NavigationBar .pathMenu .gwt-MenuItem {
  background: transparent url(img/button-bg-hard.gif) repeat-x 0 0;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  color: #999;
  cursor: pointer;
  white-space: nowrap;
  padding: 3px 6px;
}

.kune-NavigationBar .pathMenu .gwt-MenuItem-selected {
  background: transparent url(img/button-bg-soft.gif) repeat-x 0 0;
  color: #000;
}

.kune-NavigationBar .kune-IconHyperlink {
  vertical-align: middle;
  margin-left: 5px;
}

.kune-NavigationBar .kune-IconHyperlink a {
  color: green;
  text-decoration: none;
}

.kune-NavigationBar .kune-IconHyperlink .gwt-Image {
  margin-right: 3px;
  vertical-align: middle;
}

/* Social Network */
.kune-StackedDropDownPanel {

}

.kune-StackedDropDownPanel .gwt-StackPanelItem {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #EEFFAA;
  cursor: pointer;
  padding: 1px 3px 0 6px;
  overflow: hidden;
}

.kune-StackedDropDownPanel .gwt-StackPanelItem img {
  margin: 0 0 0 3px;
  vertical-align: middle;
}

.kune-StackedDropDownPanel .kune-DropDownInner table {
  width: 100%;
}

.kune-StackedDropDownPanel .gwt-StackPanelItem-selected {

}

.kune-StackedDropDownPanelLink {
  background-color: #E6E6E6;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #F2F2F2;
/*  white-space: nowrap; */
  cursor: pointer;
}

.kune-StackedDropDownPanel .kune-DropDownInner {
  padding: 0px;
}

/* StackedDropDownPanel Members */
.kune-StackSubItemLabel {
  overflow: hidden;
}

.kune-StackSubItemLabel .gwt-MenuItem {
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid #F2F2F2;
}

.kune-StackSubItemLabel table {
  width: 100%;
}

.kune-StackSubItemLabel .gwt-MenuItem img {
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 3px;
}

.kune-StackSubItemLabel .gwt-MenuItem-selected {
  background-color: #FFE6D5;
}

.kune-StackSubItemActions {
  background-color: #F2F2F2;
  border: 1px solid #999;
  vertical-align: middle;
  padding: 5px 0;
  margin-left: -120px;
  margin-top: -2px;
}

.kune-StackSubItemActions .gwt-MenuItem {
  cursor: pointer;
  padding: 1px 10px;
  white-space: nowrap;
}

.kune-StackSubItemActions .gwt-MenuItem img {
  vertical-align: middle;
  margin-right: 3px;
}

.kune-StackSubItemActions .gwt-MenuItem-selected {
  background-color: #FFB958;
}

/* AccessList */
.kune-AccessListSubLabel {
  font-style: italic;
}

.kune-AccessList {
  margin: 5px;
  width: 100%;
}

.kune-AccessList .gwt-DisclosurePanel {
  margin: 5px;
  width: 100%;
}

.kune-AccessList .gwt-DisclosurePanel-open {
  width: 100%;
}

.kune-AccessList .gwt-DisclosurePanel-closed {
  width: 100%;
}

.kune-AccessList .header {
  margin: 0 0 3px 0;
  text-decoration: none;
  width: 100%;
  background-color: #8DD35F;
}

.kune-AccessList .header table {
  margin: 0 5px 0 0;
  width: 100%;
  color: #FFF;
}

.kune-AccessList .header img {
  margin: 0 3px 0 0;
}

.kune-AccessList .content {
  margin: 0 0 0 7px;
  width: 100%;
}

.kune-AccessList .content table {
  margin-bottom: 5px;
  width: 100%;
}

/* Rate */
.kune-RatePanel-Label {
  white-space: nowrap;
  vertical-align: middle;
}

.kune-RatePanel-Stars {
  margin-left: 5px;
  vertical-align: middle;
}

.kune-RatePanel-Stars-RateIt {
  cursor: pointer;
}

/* Licenses */
.kune-License-CC-Header {
  color: #15428B;
  font-weight: bold;
  font-size: 85%;
  margin-top: 5px;
}

.kune-License-CC-Header .gwt-Label {
  color: #15428B;
  font-weight: bold;
  font-size: 85%;
  margin-top: 5px;
}

/* Theme */
.kune-IconBottomPanel .gwt-MenuItem {
  cursor: pointer;
  background-color: #FFF;
  margin: 2px 2px 2px 5px;
}

.kune-IconBottomPanel .gwt-MenuItem-selected {
  background-color: #F2F2F2;
}

.gwt-MenuBar-bottomMenu {
  margin-left: -60px;
  margin-top: -120px;
}

/* i18n */
.kune-I18nTranslatorCell {
  white-space: normal;
}

.kune-i18nTranslator-recommend {
  margin: 10px;
}

.kune-i18nTranslator-recommend h1 {
  font-size: 131%;
  font-weight: bold;
}

.kune-i18nTranslator-recommend h2 {
  font-size: 116%;
  font-weight: bold;
}

.kune-i18nTranslator-recommend h3 {
  font-size: 108%;
  font-weight: bold;
  font-style: italic;
}

.kune-i18nTranslator-recommend em {
  font-weight: bold;
}

.kune-i18nTranslator-recommend strong {
  font-weight: bold;
}

/* Admin Context */
.kune-AdminContextPanel {
  margin: 6px;
  width: 100%;
}

.kune-AdminContextPanel .gwt-StackPanelItem {
  background: transparent url(img/arrow-right-white.gif) no-repeat scroll 3px 2px;
  cursor: pointer;
  padding: 3px 10px 1px 20px;
  overflow: hidden;
  width: 100%;
}

.kune-AdminContextPanel .gwt-StackPanelItem img {
  margin: 0 0 0 3px;
  vertical-align: middle;
}

.kune-AdminContextPanel .gwt-StackPanelItem-selected {
  background: transparent url(img/arrow-down-white.gif) no-repeat scroll 3px 2px;
  background-color: #DEE3DB;
}

.kune-AdminContextPanelLink {
  background-color: #E6E6E6;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #F2F2F2;
  /* white-space: nowrap; */
  cursor: pointer;
}

.kune-AdminContextPanel-inner {
  background-color: #FFF;
}

.kune-AdminContextPanel-inner-wrap {
  margin: 5px;
}

.kune-EditableLabel {

}

.kune-EditableLabel .kune-EditableLabel-editable {

}

.kune-EditableLabel-high {
  background-color: #FFFBC1;
  cursor: pointer;
}

.kune-EditableLabel-high span {
  background-color: #FFFBC1;
}

.kune-EditableLabel a {
  margin-left: 5px;
}

.kune-EditableLabel a:link {
  color: green;
}

.kune-EditableLabel a:hover {
  text-decoration: underline;
}

.kune-EditableLabel a:visited {
  color: #808000;
}

.kune-EditableLabel img {
  margin-right: 4px;
  vertical-align: middle;
}

.kune-EditableLabel-editable img {
  margin-right: 4px;
  vertical-align: middle;
}

.kune-EditableLabel-editable span {
  margin: 3px;
}

.kune-EditableLabel span {
  margin: 3px;
}

.kune-BottomIconsTrayPanel {
  width: 165px;
  height: 21px;
  vertical-align: middle;
  background-color: #EFEFEF;
}

.kune-TagsPanel-tag {
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.kune-Content-Main {
  margin: 5px;
}

/* Yahoo ui base.css */

.kune-Content-Main h1 {
  font-size: 138.5%;
}

.kune-Content-Main h2 {
  font-size: 123.1%;
}

.kune-Content-Main h3 {
  font-size: 108%;
}

.kune-Content-Main h1 {
  margin: 1em 0;
}

.kune-Content-Main h2 {
  margin: 1em 0;
}

.kune-Content-Main h3 {
  margin: 1em 0;
}

.kune-Content-Main h1 {
  font-weight: bold;
}

.kune-Content-Main h2 {
  font-weight: bold;
}

.kune-Content-Main h3 {
  font-weight: bold;
}

.kune-Content-Main h4 {
  font-weight: bold;
}

.kune-Content-Main h5 {
  font-weight: bold;
}

.kune-Content-Main h6 {
  font-weight: bold;
}

.kune-Content-Main strong {
  font-weight: bold;
}

.kune-Content-Main abbr {
  border-bottom: 1px dotted #000;
  cursor: help;
}

.kune-Content-Main acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}

.kune-Content-Main em {
  font-style: italic;
}

.kune-Content-Main blockquote {
  margin: 1em;
}

.kune-Content-Main ul {
  margin: 1em;
}

.kune-Content-Main ol {
  margin: 1em;
}

.kune-Content-Main dl {
  margin: 1em;
}

.kune-Content-Main ol {
  margin-left: 2em;
}

.kune-Content-Main ul {
  margin-left: 2em;
}

.kune-Content-Main dl {
  margin-left: 2em;
}

.kune-Content-Main ol {
  list-style: decimal outside;
}

.kune-Content-Main li {
  list-style: decimal outside;
}

.kune-Content-Main li {
  list-style: disc outside;
}

.kune-Content-Main ul {
  list-style: disc outside;
}


.kune-Content-Main dl {
  margin-left: 1em;
}

.kune-Content-Main dd {
  margin-left: 1em;
}

.kune-Content-Main th {
  border: 1px solid #000;
  padding: .5em;
  font-weight: bold;
  text-align: center;
}

.kune-Content-Main td {
  border: 1px solid #000;
  padding: .5em;
}

.kune-Content-Main caption {
  margin-bottom: .5em;
  text-align: center;
}

.kune-Content-Main p {
  margin-bottom: 1em;
}

.kune-Content-Main fieldset {
  margin-bottom: 1em;
}
.kune-Content-Main table {
  margin-bottom: 1em;
}

.kune-Content-Main pre {
  margin-bottom: 1em;
}

.kune-Content-Main input[type=text] {
  width: 12.25em;*width: 11.9em;}

.kune-Content-Main input[type=password] {
  width: 12.25em;*width: 11.9em;}

.kune-Content-Main textarea {width: 12.25em;*width: 11.9em;}

.search-icon {
  background-image: url(img/search.gif) !important;
}

.i18n-icon {
  background-image: url(img/language.gif) !important;
}
