@CHARSET "UTF-8";

@external .*;
.floatLeft {
  float: left;
}

.mainPanel {
  border-top: 2px solid white;
}

.k-spaces {
}

.k-group-space {
  border-top: 7px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 20px solid transparent;
}

.k-space {

}

.floatRight {
  float: right;
}

.siteBar {
  overflow: hidden;
  background-color: #fff !important;
  padding: 0px 5px;
}

.entityCentralContainer {

}

.entityHeader {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.entityFooter {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.entityFooter span {
  font-size: 16px;
  font-weight: bold;
}

.entityHeader span {
  font-size: 56px;
  /*  margin-left: 15px; */
  font-weight: bold;
  font: 'UbuntuBold', Arial;
}

.docHeader {
  overflow: hidden;
}

.docHeaderArrow {
  position: relative;
  z-index: 10;
  top: -25px;
  left: 10px;
}

.docHeader span,.docHeader input {
  font-size: 26px;
  font-weight: bold;
  margin-left: 15px;
  font: 'UbuntuBold', Arial;
  line-height: 36px;
}

.docHeader input {
  float: left;
  width: 95% !important;
}

.docHeader img {
  float: left;
  margin: 10px -10px 0 10px;
}

.docSubheader {
  overflow: hidden;
  border-collapse: separate;
  margin: -14px 0 0;
  padding: 10px 0 0;
}

.docSubheader button.k-fr {
  margin: 0 5px 0 0;
}

.docSubheader button.k-fl {
  margin: 0 0 0 5px;
}

.docSubheader button {
  margin: 0 0 0 5px;
}

.docSubheaderLeft {
  position: relative;
  top: 0;
  left: -30px;
}

.docSubheader span {
  font-size: 20px;
  font-weight: bold;
}

.docEditorMargin {

}

.docEditor {
  border-left: 1px solid #959595;
  border-right: 1px solid #959595;
  border-top: 1px solid #959595;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.docEditorContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.docFooter {
  border-left: 1px solid #959595;
  border-right: 1px solid #959595;
  border-bottom: 1px solid #959595;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  padding: 1px 7px 0 7px;
  overflow: hidden;
  border-collapse: separate;
}

.docFooter span {
  font-size: 16px;
  font-weight: bold;
}

.entityTools {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.entityToolsNorth {

}

.entityToolsNorth span {
}

.entityToolsCenter {
  overflow: visible !important;
  padding-top: 10px;
  clear: both;
}

.entityToolsCenter span {
  font-size: 16px;
  font-weight: bold;
}

.entityToolsSouth {
  border-top: 2px solid #FFF;
  padding: 10px;
  border-collapse: separate;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.entityToolsSouth span {
  font-size: 20px;
  font-weight: bold;
}

/* Derived from: from http://jonrohan.me/guide/css/creating-triangles-in-css/ */
.docSubheaderArrow {
  border-style: solid;
  border-width: 7px;
  height: 0;
  width: 0;
  position: relative;
  bottom: 0px;
  left: 36px;
}

.k-tool-item-selected-arrow {
  border-style: solid;
  border-width: 7px;
  height: 0;
  width: 0;
  position: relative;
  bottom: 0px;
  left: 24px;
}

/* IE6 */
.docSubheaderArrow {
  _border-left-color: pink;
  _border-bottom-color: pink;
  _border-right-color: pink;
  _filter: literal("chroma(color=pink)");
}