@CHARSET "UTF-8";

body {
	background-color: white;
	color: black;
	font-family: 'UbuntuRegular', Arial;
	font-size: small;
	margin: 5px;
	overflow: hidden;
}

* {
	font-family: 'UbuntuRegular', Arial;
}

body.fontface {
	font: 'UbuntuRegular', Arial;
}

a {
	color: darkblue;
}

a:visited {
	color: darkblue;
}

.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
	
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
	
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up-hovering {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-down-hovering {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-up-hovering {
	background-color: #C3D9FF;
	padding: 2px;
	border: 2px solid transparent;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down {
	background-color: #C3D9FF;
	padding: 2px;
	background-color: #E8F1FF;
	border: 2px solid transparent;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
	cursor: pointer;
	cursor: hand;
}

.gwt-ToggleButton-down-hovering {
	background-color: #C3D9FF;
	padding: 2px;
	background-color: #E8F1FF;
	border: 2px solid transparent;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
	cursor: pointer;
	cursor: hand;
}

.gwt-RichTextArea {
	border: 1px solid black;
	background-color: white;
}

.gwt-RichTextToolbar {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
	margin-right: 2px;
	border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
	margin-right: 2px;
	border: 1px solid #C3D9FF;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
	margin-right: 2px;
	border: 1px solid #C3D9FF;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	margin-right: 2px;
	border: 1px solid #C3D9FF;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
	margin-right: 2px;
	border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
	margin-right: 2px;
	border: 1px solid #C3D9FF;
	border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205)
		rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
	margin-right: 2px;
	background-color: #E8F1FF;
	border: 1px solid #C3D9FF;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
	margin-right: 2px;
	background-color: #E8F1FF;
	border: 1px solid #C3D9FF;
	border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255)
		rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
	background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}

.gwt-SplitLayoutPanel {
	
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-HDragger {
	background-color: white;
	background: none;
	cursor: col-resize;
}

.gwt-SplitLayoutPanel .gwt-SplitLayoutPanel-VDragger {
	background-color: white;
	background: none;
	cursor: row-resize;
}

.kLoadingPanel {
	background-color: #FF9999;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	padding: 0 1px 0 3px;
}

.kLoadingLabel {
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding: 0 5px 0 5px;
}

.k-space-sel {
	margin-right: 10px;
	background-color: #F2F2F2;
}

.k-space-sel-btn {
	padding: 0 1px 0 1px;
	margin: 0 0 -2px;
}

.k-sitebar-logo {
	margin-top: 2px;
}

.x-btn button {
  font: 18px/27px UbuntuRegular, arial;
}

.k-btn-sitebar button { 
  font: 13px UbuntuRegular, arial;  
  color:#B3B3B3;
  cursor:pointer;
  text-decoration:underline;
  white-space:nowrap;
  margin-top: -5px;
  border-bottom:1px solid #B3B3B3;
}

.k-sitebar { 
  margin-top: -30px;
}