@external k-icon-info,k-icon-language,k-icon-kuneIcon16,k-icon-bug,k-icon-prefs,k-icon-groupHome,k-icon-addGreen,k-icon-maximize,k-icon-minimize,k-*;
@sprite div .k-icon-info {
	gwt-image: "info";
}

@sprite div .k-icon-language {
	gwt-image: "language";
}

@sprite div .k-icon-kuneIcon16 {
	gwt-image: "kuneIcon16";
}

@sprite div .k-icon-bug {
	gwt-image: "bug";
}

@sprite div .k-icon-prefs {
	gwt-image: "prefs";
}

@sprite div .k-icon-groupHome {
	gwt-image: "groupHome";
}

@sprite div .k-icon-addGreen {
	gwt-image: "addGreen";
}

@sprite div .k-icon-maximize {
	gwt-image: "maximize";
}

@sprite div .k-icon-chatBlink {
	gwt-image: "chatBlink";
}

@sprite div .k-icon-chat {
	gwt-image: "chat";
}

@sprite div .k-icon-minimize {
	gwt-image: "minimize";
}