
<table>
  <thead><tr>
      <% for name in @mclass.column_names -%>
        <td><%= name %></td>
      <% end -%>
  </tr></thead>
  <tbody>
    <% for model in @models %>
      <tr class="<%= cycle('even', 'odd') %> "><% for name in @mclass.column_names -%>
          <td><%= model.send name %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>