Source: kune
Section: java
Priority: optional
Build-Depends: debhelper (>= 8.0.0), cdbs, sun-java6-jre | openjdk-6-jdk, maven2, libmaven-assembly-plugin-java, rsync
Homepage: http://kune.ourproject.org
Maintainer: Vicente J. Ruiz Jurado <vjrj@ourproject.org>
Standards-Version: 3.9.2
#Vcs-Svn: svn://scm.ourproject.org/svnroot/kune/trunk/
#Vcs-Browser: http://ourproject.org/scm/?group_id=407

Package: kune
Pre-Depends: 
Depends: libjmagick6-jni, sun-java6-jre | openjdk-6-jdk, mysql-server (>= 5.1) , adduser
Recommends: openfire (>= 3.7.1)
Suggests:
Architecture: all
#Extra-Files: ../BUGS, ../COPYRIGHT, ../CREDITS, ../INSTALL, ../README, ../TROUBLESHOOT, ../TODO
Description: distributed social network of collaborative tools for groups
 Kune (which means together in esperanto) is a web tool, for creating 
 environments of constant inter-communication, collective intelligence, 
 knowledge and shared work. It integrates Apache Wave.
 .
 Kune’s main objective is to multiply the capacity and skills of people, 
 communities and organizations, allowing their constant cooperation, regardless
 of physical distance. Therefore, it aims to facilitate virtual meetings, 
 coordinate common agendas, join people with similar interests and develop 
 projects collaboratively. Other features include managing projects and 
 contents, and sharing them freely with anyone, anywhere.
