Source: kune
Section: java
Priority: optional
Build-Depends: devscripts, debhelper (>= 8.0.0), cdbs, oracle-java7-installer | openjdk-7-jdk, maven (>= 3.0), libmaven-assembly-plugin-java, rsync, quilt
Homepage: http://kune.ourproject.org
Maintainer: Vicente J. Ruiz Jurado <vjrj@ourproject.org>
Standards-Version: 3.9.2
#Vcs-Git: git@github.com:comunes/kune.git
#Vcs-Browser: https://github.com/comunes/kune

Package: kune
Pre-Depends: ucf
Depends: libjmagick6-jni, oracle-java7-installer | openjdk-7-jre, mysql-server (>= 5.1) , adduser, dbconfig-common, telnet | netcat-openbsd
Recommends: openfire (>= 3.7.1), mysql-client, postfix | exim4
Suggests: kune-cli
Architecture: all
Description: Distributed social network of collaborative web tools
 Kune (which means together in esperanto) creates
 environments of real-time inter-communication, collective intelligence,
 knowledge and shared work. It integrates Apache Wave.
 .
 Kune’s main aim is to multiply the capacity and skills of people,
 communities and organizations, allowing their constant cooperation, regardless
 of physical distance. Therefore, it aims to facilitate virtual meetings,
 coordinate common agendas, join people with similar interests and develop
 projects collaboratively. Other features include managing projects and
 contents, and sharing them freely with anyone, anywhere.

Package: kune-cli
Pre-Depends: ucf
Depends: oracle-java7-installer | openjdk-7-jre, kune (>= 1.0.1+b15)
Recommends:
Suggests:
Architecture: all
Description: Kune Command Line Interface (CLI)
 kune-cli is a Command Line Interface (CLI) for Kune.
 Kune (which means together in esperanto) creates
 environments of real-time inter-communication, collective intelligence,
 knowledge and shared work. It integrates Apache Wave.
 .
 Kune’s main aim is to multiply the capacity and skills of people,
 communities and organizations, allowing their constant cooperation, regardless
 of physical distance. Therefore, it aims to facilitate virtual meetings,
 coordinate common agendas, join people with similar interests and develop
 projects collaboratively. Other features include managing projects and
 contents, and sharing them freely with anyone, anywhere.
