Source: kune
Section: java
Priority: optional
Maintainer: vjrj@ourproject.org
Build-Depends: debhelper (>= 5), cdbs, openjdk-6-jdk, quilt, maven-debian-helper,
 libslf4j-java, libjdom1-java
Build-Depends-Indep: maven-repo-helper
Standards-Version: 3.9.2

Package: kune
Architecture: all
Depends: libjmagick6-jni
Recommends: 
Description: Kune (which means together in esperanto) is a new web tool, for creating environments of constant inter-communication, collective intelligence, knowledge and shared work.
 .
 Kune’s main objective is to multiply the capacity and skills of people, communities and organizations, allowing their constant cooperation, regardless of physical distance. Therefore, it aims to facilitate virtual meetings, coordinate common agendas, join people with similar interests and develop projects collaboratively. Other features include managing projects and contents, and sharing them freely with anyone, anywhere

