.k-msg-panel {
	background-color: #892c00;
	border-collapse: separate;
	border-spacing: 15px 8px;
}

.k-msg-panel-title {
	color: #ffe9da;
	font-weight: bold;
	margin-bottom: 10px;
}

.k-msg {
	border: solid 1px #F2F2F2;
	background: #fff0e6;
	color: #280b0b;
	border-collapse: separate;
	border-spacing: 0px;
}

.k-msg-close {
	position: relative;
	right: -14px;
	top: 0px;
}

.k-msg-icon {
	padding: 10px 10px 5px;
}

.k-msg-label {
	font-size: 17px;
}