@external .customColorPushbutton, .customColorPushbutton-down-hovering, .customColorPushbutton-up-hovering;

.fl {
  float: left;
}

.fr {
  float: right;
}

.toolbar {
  margin-left: 10px;
  cursor: hand;
  cursor: pointer;
}

button.toolbar {
  margin-top: 10px;
  cursor: hand;
  cursor: pointer;
}

.customColorPushbutton {
  cursor: hand;
  cursor: pointer;
  padding: 5px;
}

.customColorPushbutton-down-hovering {
}

.customColorPushbutton-up-hovering {
  background-color: #F2F2F2;
}