@sprite div .k-rte-underline {
  gwt-image: 'underline';
}

@sprite div .k-rte-superscript {
  gwt-image: 'superscript';
}

@sprite div .k-rte-subscript {
  gwt-image: 'subscript';
}

@sprite div .k-rte-strikeout {
  gwt-image: 'strikeout';
}

@sprite div .k-rte-removeFormat {
  gwt-image: 'removeFormat';
}

@sprite div .k-rte-link {
  gwt-image: 'link';
}

@sprite div .k-rte-linkbreak {
  gwt-image: 'linkbreak';
}

@sprite div .k-rte-italic {
  gwt-image: 'italic';
}

@sprite div .k-rte-incrementindent {
  gwt-image: 'incrementindent';
}

@sprite div .k-rte-images {
  gwt-image: 'images';
}

@sprite div .k-rte-hfixedline {
  gwt-image: 'hfixedline';
}

@sprite div .k-rte-fontheight {
  gwt-image: 'fontheight';
}

@sprite div .k-rte-fontcolor {
  gwt-image: 'fontcolor';
}

@sprite div .k-rte-edithtml {
  gwt-image: 'edithtml';
}

@sprite div .k-rte-defaultnumbering {
  gwt-image: 'defaultnumbering';
}

@sprite div .k-rte-defaultbullet {
  gwt-image: 'defaultbullet';
}

@sprite div .k-rte-decrementindent {
  gwt-image: 'decrementindent';
}

@sprite div .k-rte-charfontname {
  gwt-image: 'charfontname';
}

@sprite div .k-rte-centerpara {
  gwt-image: 'centerpara';
}

@sprite div .k-rte-bold {
  gwt-image: 'bold';
}

@sprite div .k-rte-backcolor {
  gwt-image: 'backcolor';
}

@sprite div .k-rte-alignright {
  gwt-image: 'alignright';
}

@sprite div .k-rte-alignleft {
  gwt-image: 'alignleft';
}