.GWTUpld, table.GWTUpld td {
	font-family: Verdana, Arial;
	font-size: 12px;
}

.GWTUpld form, 
.GWTUpld .upld-form-elements {
	padding: 0px;
	vertical-align: top;
}

.GWTUpld .upld-status {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}
.GWTUpld .upld-status div.cancel {
	background: url(images/cancel-upld.gif) no-repeat;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin-top: 1px;
}

* html .GWTUpld .upld-status div.cancel {
	width: 14px;
	height: 10px;
	margin-top: 2px;
}

.GWTUpld .upld-status div.cancel:hover {
	background: url(images/cancel-upld-hover.gif) no-repeat;
}

.GWTUpld .upld-status .filename {
	overflow: hidden;
	white-space: nowrap;
	margin-left: 8px;
	margin-right: 10px;
	height: 100%;
}
.GWTUpld .upld-status .status {
	padding-left: 8px;
	white-space: nowrap;
	height: 100%;
}
.GWTUpld .upld-status .status-success {
	color: green;
}
.GWTUpld .upld-status .status-error,
.GWTUpld .upld-status .status-canceled {
	color: red;
}

.GWTUpld .prgbar-back {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #999999;
	height: 10px;
	overflow: hidden;
	padding: 1px;
	width: 100px;
	float: left;
}
* html .GWTUpld .prgbar-back {
	height: 12px;
	margin-top: 2px;
}
.GWTUpld .prgbar-done {
	background: #d4e4ff none repeat scroll 0 0;
	font-size: 0;
	height: 100%;
	float: left;
}
.GWTUpld .prgbar-msg {
	position: absolute;
	z-index: 9;
	font-size: 9px;
	font-weight: normal;
	margin-left: 3px;
}

* html .GWTUpld .prgbar-msg {
	top: 0px;
	left: 4px;
}

.GWTUpld .changed {
	color: red;
	font-weight: bold;  
	text-decoration: blink;
}
.gwt-PopupPanel .GWTUpld {
	border: 2px groove #F6A828;
	padding: 10px;
	background: #bf984c;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
	
}

.GWTUpld .DecoratedFileUpload {
	margin-right: 5px;
}

.GWTUpld .DecoratedFileUpload .gwt-Button,
.GWTUpld .DecoratedFileUpload .gwt-Anchor,
.GWTUpld .DecoratedFileUpload .gwt-Label {
	white-space: nowrap;
	font-size: 10px;
}

.GWTUpld .gwt-Button, .GWTUpld .gwt-FileUpload {
	font-size: 10px;
	min-height: 15px;
}

.GWTUpld .DecoratedFileUpload .gwt-Anchor,
.GWTUpld .DecoratedFileUpload .gwt-Label {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.GWTUpld .gwt-Button:HOVER,
.GWTUpld .DecoratedFileUpload .gwt-Button-over,
.GWTUpld .DecoratedFileUpload .gwt-Anchor-over,
.GWTUpld .DecoratedFileUpload .gwt-Label-over {
	color: #af6b29;
}

.GWTUpld .DecoratedFileUpload-disabled .gwt-Button,
.GWTUpld .DecoratedFileUpload-disabled .gwt-Anchor,
.GWTUpld .DecoratedFileUpload-disabled .gwt-Label {
	color: grey;
}

    

