<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd"
   version="2.3">

    <display-name>kune</display-name>
    <description>kune</description>

<!--
    <context-param>
            <param-name>com.google.inject.Module</param-name>
            <param-value>org.ourproject.kune.app.server.KuneAppModule</param-value>
    </context-param>
 -->

    <filter>
        <filter-name>guice</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guice</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>kune</filter-name>
        <filter-class>org.ourproject.kune.app.server.KuneAppFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>kune</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
