<?xml version="1.0" encoding="UTF-8"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   version="2.4"> 

    <display-name>kune</display-name>
    <description>kune</description>
 
    <servlet>
      <servlet-name>ServiceXmppMuc</servlet-name>
      <servlet-class>org.ourproject.kune.server.ServiceXmppMucServiceImpl</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>KuneDocumentService</servlet-name>
      <servlet-class>org.ourproject.kune.server.KuneDocumentServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>ServiceXmppMuc</servlet-name>
      <url-pattern>/gwt/org.ourproject.kune/KuneDocumentService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>ServiceXmppMuc</servlet-name>
      <url-pattern>/kune</url-pattern>
    </servlet-mapping>

</web-app>
